.footer{
	text-align: center;
    height: 100px;
    background-color: #1ad7c6;
    line-height: 3.5;
    color: white;
    font-size: $font-title;
    font-family: Lusitana, serif;
}
.timeline-support{
	height: 100px;
	background-color: transparent;
}