html{
	font-size: 100%;
	box-sizing: border-box;
}

*,*::before, *::after{
	box-sizing: inherit;
}
a{
	text-decoration: none;
	color: $blueColor;
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
	padding: 0;
	font-weight: normal;
}

h1{
	font-weight: bold;
}

body{
	margin: 0;
	padding: 0;
	font-size: $font-sm;
	font-weight: 300;
	font-family: 'Public Sans', sans-serif;
	color: $grayishBlue;
	line-height: 1.3;
	background: url('https://images.unsplash.com/photo-1531310120610-deae3280a60b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1789&q=80') center center no-repeat;
	background-size: cover;
	max-height: 100vh;
	background-attachment: fixed;
}

.container{
	width: $large;
	margin: 0 auto;
	background: url(https://3jon.com/demo/nwp/item/vertica/jessie/wp-content/themes/vertica/img/paper-bg2.png) no-repeat top left, url(https://3jon.com/demo/nwp/item/vertica/jessie/wp-content/themes/vertica/img/paper-bg-bot.png) no-repeat bottom right, #fafafa;
}

.color-green{
	color: $blueColor;
}

.layout{
	display: grid;
    grid-template-columns: 25% 75%;
}

.mx{
	margin-right: 30px;
	margin-left: 30px;
}

.ml-30{
	margin-left: 30px;
}

li{
	list-style: none;
}