#intro{
	font-family: etLine, Lusitana, serif;

	.intro-avatar{
		width: 210px;
		height: 210px;
		border: 5px solid $blueColor;
		border-radius: 50%;
		margin: 0 auto;

		img{
			height: 100%;
			border-radius: 50%;
			border: 5px solid white;
			object-fit: cover;
    		width: 100%;
		}

		transition: 1s all ease;
		@include breakpoint-down('medium'){
			display: none;
			width: 100%;
			grid-column: 1/-1;
		}
	}

	.intro-text{
		@include breakpoint-down('medium'){
			margin-left: 0px;
		}
	}

	.intro-title{
		font-size: $font-title;
		border-bottom: 1px solid $blueColor;
	}

	.intro-job{
		margin-top: 10px;
	}

	.intro-desc{
		font-size: $font-md;
	}

	h2{
		font-size: $font-lg;
		font-weight: bold;
	}

	p{
		margin-bottom: 0px;
	}
}