$breakpoints-up: ("medium": $medium, "large": $large, "xlarge": $xlarge);
$breakpoints-down:("small": $small-down, "medium": $medium-down, "large": $large-down);

@mixin breakpoint-up($size){
	@media (min-width: map-get($breakpoints-up, $size)){
		@content;
	}
}

@mixin breakpoint-down($size){
	@media (max-width: map-get($breakpoints-down, $size)){
		@content;
	}
}

@mixin transition($value){
	transition: $value;
	-mox-transition: $value;
	-webkit-transition: $value;
}
