$small: 36rem; //576px
$medium: 48rem; //768px
$large: 60rem; // 960px
$xlarge: 71.50rem; //1140px
$xxlarge: 82.5rem; //1320px

$small-down: 36.33rem; //576px
$medium-down: 47.9375rem; //767px
$large-down: 59.9375rem; //959px
$xlarge-down: 71.1875rem; //1139px

// Font Sizes
$font-sm: 0.875rem; // 14:16 -> 0.875
$font-md: 1.125rem; //18px;
$font-lg: 1.25rem;
$font-xlg: 2.1875rem; //35px
$font-title: 1.875rem; //30px;
$font-normal: 1rem;

// Color
$grayishBlue: hsl(233, 8%, 62%);
$blueColor: #1ad7c6;
$titleColor: #648b79;
$bgOver: #fafafa;