@import url(https://fonts.googleapis.com/css?family=Lusitana:400,700);
.interval{
	height: 50px;
}

.bg-icon{
	background-color: $blueColor !important;
}

.layout-timeline{
	display: grid;
	grid-template-columns: 30% 70%;
	margin-top: -2px;

	@include breakpoint-down('medium'){
		grid-template-columns: 1fr;
	}
}
.timeline{
	background: url(../img/timeline-bg.png) repeat-x center center fixed;

	@include breakpoint-down('medium'){
		margin-right: 30px;
		margin-left: 30px;
	}

	&__process{
    background: url(https://3jon.com/demo/nwp/item/vertica/jessie/wp-content/themes/vertica/img/progress-bar.png) repeat-y center;
    background-size: 400px 9px;

    @include breakpoint-down('medium'){
			display: none;
		}
	}
	&__title {
    background: url(../img/progress-section-title3.png) no-repeat center center;
    background-size: 400px 500px;
	}
	&__point {
		min-height: 80px;
		background: url(https://3jon.com/demo/nwp/item/vertica/jessie/wp-content/themes/vertica/img/progress-point.png) center center;
    	background-size: 400px 500px;

    @include breakpoint-down('medium'){
			display: none;
		}
	}
	&__education {
		background: url(../img/progress-education4.png) no-repeat center center;
		background-size: 400px 500px;
	}
	&__work {
		background: url(../img/progress-work3.png) no-repeat center center;
		background-size: 400px 500px;
	}
	&__mail {
		background: url(../img/progress-mail3.png) no-repeat center center;
		background-size: 400px 500px;
	}
	&__contain{
		padding-right: 30px;
		background-color: $bgOver;
		margin-left: -2px;
					font-family: Lusitana, serif;
		h3{
			font-size: 1.5625rem;
	    font-weight: bold;
	    color: $titleColor;
		}
		h4{
			color: black;
			font-size: 1rem;
			font-weight: bold;
			border-bottom: 1px solid gray;
		}
		h5{
			font-size: 1rem;
	    font-weight: bold;
	    margin-top: 15px;
		}
		p{
			font-size: 1rem;
			margin: 5px 0px;
		}
	}

	&__icon{
		display: flex;
		gap: 30px;
		padding-left: 0px;

		li{
			padding: 5px 15px;
		    background-color: #1ad7c6;
		    border-radius: 5px 10px;
		}

		a{
			color: white;
		}
	}
	&__top{
		height: 200px;
		background-color: $bgOver;
	}
	&__end{
    height: 200px;
    background-color: $bgOver;
    margin-top: -19px;
	}
}
.mt-80{
	margin-top: 100px;
}

form{
	.form-field{
		position: relative;
		margin: 26px 0;
	}

	input, textarea{
		display: block;
		width: 100%;
		height: 36px;
		border-width: 0 0 1px 0;
		border-color: $blueColor;
		font-family: Lusitana, serif;
		font-size: $font-md;
		line-height: 26px;
		font-weight: 400;
		&:focus {
			outline: none;
		}

		&:focus, &.not-empty {
      + .label {
        transform: translateY(-24px);
      }
    }
	}

	.label {
		position: absolute;
		bottom: 11px;
		top: 0;
		font-family: Lusitana, serif;
		font-size: $font-md;
		line-height: 25px;
		font-weight: 400;
		color: #888;
		cursor: text;
		transition: transform .2s ease-in-out;
	}

	textarea{
		min-width: 100%;
		max-width: 100%;
		min-height: 36px;
		max-height: 120px;
	}
}

.align-center{
	text-align: center;
}
button{
  border: none;
  background-color: #1ad7c6;
  color: white;
  padding: 5px 15px;
  border-radius: 2px;
  font-size: 0.875rem;
  transition: all 0.2s ease-in-out;
  font-family: Lusitana, serif;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 10px;
  &:hover{
  	cursor: pointer;
  	font-size: $font-md;
  }
}
